.triangle{
  position: absolute;
  bottom:0;
  right:0;
   /*  三角形  */
   width: 0;
   height: 0;
   border-right: 16px solid $danger;
   border-top: 16px solid transparent;
   z-index:-1;
}

.btn-outline-dark:hover, .btn:hover{

  
    background-color: $danger;
    color:$primary !important;
    .triangle{
      border-right-color:$dark;
      z-index:1
    }


    
}

.ranking{
  width:64px;
  z-index:1;
}



.rankImg{
  cursor: pointer;
  
  img{
    object-fit: cover;
    object-position: top;
    height: 375px;
    width:100%;
  }
  .detailBtn{
    bottom:0;
    right:0;
    opacity: 0;

    .triangle{
      
       /*  三角形  */
       width: 0;
       height: 0;
       border-right: 16px solid $danger;
       border-top: 16px solid transparent;
       z-index:1;
    }
  }

  &:hover{
    &::after{
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: #000;
      opacity: 0.7;
      
    }
    .detailBtn{
      opacity:1;
      background-color:$danger;
      color:$secondary !important;
      z-index:10;
    }

    .triangle{
      border-right-color:$dark;
    }
  }
}

.rankImgSmall{
  width:120px;
  height: 102px;
  background-image: url(../images/art13.jpg);
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;

  .triangle{
      
    /*  三角形  */
    width: 0;
    height: 0;
    border-right: 16px solid transparent;
    border-top: 16px solid transparent;
    
 }

  &:hover{
    &::after{
      content: 'more';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: #000;
      opacity: 0.7;
      color:$secondary;
      display: flex;
      justify-content: center;
      align-items: center;

      

      
    }

    .triangle{
      border-right-color:$danger;
      z-index:1;
    }
  }
}

.rankItemSmall{


  .bg-1{
    background-image: url(../images/art04.jpg);
  }

  .bg-2{
    background-image: url(../images/art05.jpg);
  }

  .bg-3{
    background-image: url(../images/art06.jpg);
  }

  .bg-5{
    background-image: url(../images/art07.jpg);
  }
  
  .bg-6{
    background-image: url(../images/art08.jpg);
  }


}

.aritsitItem{
  background-image: url(../images/artist01.jpg);
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;

  .detailBtn{


    .triangle{
      /*  三角形  */
      z-index:5;
   }
  }
  
}



.artistSwiper{


  .swiper-slide-active, .swiper-slide-prev, .swiper-slide-next{
    
    height:465px;
   

  }

  .detailIntro{
    display:none;
  }

  @include small{
    .detailIntro{
      width: 255px;
      display:block;
    }

  }

  



  


  @include xlarge{

    .artistInfo{
      display:none;

      .detailIntro{
        width: 304px;
      }

      
    }

    .swiper-slide-active{
      width: 636px !important; 
      height: 439px !important;
      .artistInfo{
        display:block;
      }
    }
  
    .swiper-slide-prev, .swiper-slide-next{
      width: 306px !important;
      height: 262px !important;
      filter: grayscale(100%);
      
    }

  }

 

}

.artistBg-2{
  background-image: url(../images/artist02.jpg);
}
.artistBg-3{
  background-image: url(../images/artist03.jpg);
}
.artistBg-4{
  background-image: url(../images/artist04.jpg);
}