@mixin xxlarge {
    @media(min-width:1400px) {
        @content;
    }
}





@mixin xlarge {
    @media(min-width:1200px) {
        @content;
    }
}





@mixin large {
    @media(min-width:992px) {
        @content;
    }
}

@mixin medium{
    @media(min-width:768px) {
        @content;
    }
}

@mixin small{
    @media(min-width:576px) {
        @content;
    }
}




body {
    line-height: 1.5;
    font-family: 'Squada One','Noto Sans TC', sans-serif;
    background-color: $primary;
    
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

a {
    text-decoration: none;
    display: block;
}

ul {
    margin-bottom: 0;
  }