.ps-1-1{
    padding-left: 0.75rem;
}

.pe-1-1{
    padding-right: 0.75rem;
}

.mt-10{
    margin-top: 192px;
}


.text-noto{
    font-family: 'Noto Sans TC', sans-serif;
}

.text-paytone{
    font-family: 'Paytone One', sans-serif;
}



.text-vertical{
    writing-mode:vertical-lr;
    
}

.bg-opacity{
    opacity:.8;
}

